services:
  nginx:
    image: dj_nginx
    container_name: dj_nginx
    hostname: dj_nginx
    build:
      context: './images'
      dockerfile: 'nginx/Dockerfile'
    ports:
      - "81:80"
    volumes:
      - ./images/nginx/conf.d:/etc/nginx/conf.d
      - ${WORKSPACE_PATH:-..}:/var/www/html
    depends_on:
      - php

  php:
    image: dj_php
    container_name: dj_php
    hostname: dj_php
    build:
      context: './images'
      dockerfile: 'php/Dockerfile'
    environment:
      - GITHUB_TOKEN
    volumes:
      - ~/.ssh:/root/.ssh:ro
      - ${WORKSPACE_PATH:-..}:/var/www/html
    depends_on:
      - mysql
      - memcached
      - rabbitmq
      - redis

  mysql:
    image: dj_mysql
    build:
      context: './images'
      dockerfile: 'mysql/Dockerfile'
    container_name: dj_mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: "%"
      MYSQL_USER: dev
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./images/mysql/conf.d/:/etc/mysql/conf.d/
      - ./images/mysql/dumps/:/docker-entrypoint-initdb.d/
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-ppassword" ]
      interval: 5s
      timeout: 3s
      retries: 30

  memcached:
    image: dj_memcached
    container_name: dj_memcached
    hostname: dj_memcached
    build:
      context: './images'
      dockerfile: 'memcached/Dockerfile'
    ports:
      - "11211:11211"

  rabbitmq:
    image: dj_rabbitmq
    container_name: dj_rabbitmq
    hostname: dj_rabbitmq
    build:
      context: './images'
      dockerfile: 'rabbitmq/Dockerfile'
    ports:
      - "5672:5672"   # AMQP connection port
      - "15672:15672" # Admin port
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - ./images/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins
      - ./images/rabbitmq/rabbitmq_delayed_message_exchange-3.12.0.ez:/opt/rabbitmq/plugins/rabbitmq_delayed_message_exchange-0.0.1.ez

  redis:
    image: dj_redis
    container_name: dj_redis
    hostname: dj_redis
    build:
      context: './images'
      dockerfile: 'redis/Dockerfile'
    ports:
      - "6379:6379"

  phpmyadmin:
    image: dj_phpmyadmin
    container_name: dj_phpmyadmin
    hostname: dj_phpmyadmin
    build:
      context: './images'
      dockerfile: 'phpmyadmin/Dockerfile'
    environment:
      PMA_HOST: dj_mysql
      PMA_USER: root
      PMA_PASSWORD: password
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data: {}
