[mysqld]
# Fuerza red TCP
skip_networking = 0
port            = 3306
bind_address    = 0.0.0.0
local_infile    = 1

# Charset (opcional)
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

# TLS en dev → desactivado correctamente en .cnf
# OJO: En fichero es con guion bajo, no guion
tls_version = ''
require_secure_transport = OFF

# (opcional) desactiva MySQL X si no lo usas (evita warnings de SSL de mysqlx)
mysqlx = OFF
